.header-nav {
    float: left !important;
}

.btn-add {
    float: left;
}

.clear-fix {
    clear: both;
}

* {
    font-family: 'Cairo', sans-serif;
}

.datatables {
    overflow-x: unset;
}

#datatable_paginate, #datatable_filter > label {
    float: left;
}
